<h1><%= @car.carname %></h1>

<p><%= @car.company %></p>

<ul>
  <li><%= link_to "Edit", edit_car_path(@car) %></li>
  <li><%= link_to "Destroy", car_path(@car), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
